<div class="container-fluid bkgrounddark">
<div class="container">
    <br>
    <div ng-controller="PPPController as ctrl" class="col-sm-8 col-lg-4">
        <form name="configForm" >

        <div class="form-group">
                <label for="serviceProider">Service Provider</label>
                <input id="serviceProider" class="form-control" name="serviceProider" type="text" ng-model="ctrl.regcompanydefault" value="ctrl.regcompanydefault" ng-disabled="ctrl.noedit">
        </div>

        <div class="form-group">
            <label for="payeeNumber">Service Provider Number for Payment</label>
            <input id="payeeNumber"
                    class="form-control"
                    name="payeeNumber"
                    type="text"
                    minlength="8"
                    ng-pattern="/^[0-9+( )-]*$/"
                    ng-model="ctrl.regcompanynumdefault"
                    value="ctrl.regcompanynumdefault"
                    required
                    ng-disabled="ctrl.noedit"
                    />
        </div>

        </form>
    </div>

</div>
</div>
