
<div class="container-fluid bkground">

    <div class="col-sm-4 col-lg-2 pull-right">
    <br>
    <form name="loadform" >
<!--         <div class="paratext">
            <h5> </h5>
            <h5>For Registered Users Only</h5>
            <br>
        </div> -->
       
        <div class="form-group">
            <a ui-sref="register"><button type="submit" class="btn-block btn-primary form-control " id="login-id">Login</button> </a>                 
        </div>
        <div class="form-group">
            <a ui-sref="unlockform"><button type="submit" class="btn-block btn-primary form-control " id="unlock-id">Unlock App</button> </a>                  
        </div>
        <div class="form-group">
            <button type="submit" class="btn-block btn-primary form-control" id="pancu-id" disabled>Personal / Non-Commercial</button>                   
        </div>
        <div class="form-group">
            <button type="submit" class="btn-block btn-primary form-control" ng-click="ctrl.redirect()" id="redirecturl-id" >Redirect URL</button>               
        </div>
        <div class="form-group">
            <button type="submit" class="btn-block btn-primary form-control" ng-click="ctrl.otpgen()" id="redirecturl-id" >Generate OTP</button>               
        </div>
        <div class="form-group">
            <button type="submit" class="btn-block btn-primary form-control" ng-click="ctrl.redirectDbs()" id="redirectdbs-id" >url</button>               
        </div>
        <div class="form-group">
            <button type="submit" class="btn-block btn-primary form-control" ng-click="ctrl.dbsPay()" id="dbsPay-id" >DBS Payment Test</button>               
        </div>
    </form>
</div>


</div>

<!--
<div class = "container-fluid" style= "height: 400px; background-color: grey ">
        Footer
</div>

window.location="http://www.dignaj.com";
window.location.href = "http://stackoverflow.com/"
window.location.replace('http://www.google.ch')

-->