<div class="col-sm-8 col-lg-2" ></div>
<div ng-if = "ctrl.appLockpw == 1111" class="col-sm-8 col-lg-4" style="background-color: white">





   <h1>Login is sucessful</h1>
   <h1>Login is sucessful</h1>
   <h1>Login is sucessful</h1>
   <h1>Login is sucessful</h1>
   <h1>Login is sucessful</h1>

        
    <button type="submit" class="btn btn-primary form-control" ng-click="ctrl.profileMain()" id="continue-id">continue</button>                   

  


</div>
<div ng-if = "ctrl.appLockpw != 1111" class="col-sm-8 col-lg-4" style="background-color: white">
    
                    
    
        <h1>Password incorrect</h1>
     
        <h4><label>App Lock Password:</label> {{ctrl.appLockpw}}</h4>
    
    </div>