<div class="container-fluid bkgrounddark">
<div class="container">
        <br>
        <div class="col-sm-8 col-lg-8">

        <form name="payForm" >

                <div class="form-group col-sm-8">
                        <label for="payeeName">Pay To Service Provider</label>
                        <input id="payeeName" class="form-control" name="payeeName" type="text" ng-model="ctrl.regcompanydefault" value="ctrl.regcompanydefault" ng-disabled="ctrl.noedit">
                </div>

                <div class="form-group col-sm-4">
                        <label for="payeeNumber">Pay To Number</label>
                        <input id="payeeNumber"
                                class="form-control"
                                name="payeeNumber"
                                type="text"
                                minlength="8"
                                ng-pattern="/^[0-9+( )-]*$/"
                                ng-model="ctrl.regcompanynumdefault"
                                value="ctrl.regcompanynumdefault"
                                required
                                ng-disabled="ctrl.noedit"/>
                </div>

                <div class="form-group col-sm-4">
                        <label for="payerNumber ">Pay by Number</label>
                        <input id="payerNumber" class="form-control" name="payerNumber" type="text" ng-model="ctrl.pgrrecord.contactNo" value="ctrl.pgrrecord.contactNo" ng-disabled="ctrl.noedit">
                </div>
                <div class="form-group col-sm-8">
                        <label for="payerName">Payer Name</label>
                        <input id="payerName" class="form-control" name="payerName" type="text" ng-model="ctrl.pgrrecord.parent.parName" value="{{ctrl.pgrrecord.parent.parName}}"  ng-disabled="ctrl.noedit">
                </div>
                <div class="form-group col-sm-4">
                        <label for="payForstunid ">Student ID </label>
                        <input id="payForstunid" class="form-control" name="payForstunid" type="text" ng-model="ctrl.pgrrecord.parent.passanger.pgrID" value="{{ctrl.pgrrecord.parent.passanger.pgrID}}" ng-disabled="ctrl.noedit" required>
                </div>
                <div class="form-group col-sm-8">
                        <label for="payForstuname ">Student Name </label>
                        <input id="payForstuname" class="form-control" name="payForstuname" type="text" ng-model="ctrl.pgrrecord.parent.passanger.pgrName" value="{{ctrl.pgrrecord.parent.passanger.pgrName}}" ng-disabled="ctrl.noedit">
                </div>
                <div class="form-group col-sm-12">
                        <label for="payFormth ">Pay for Month </label>
                        <input id="payFormth" class="form-control" name="payFormth" type="text">
                </div>
                
                <div class="form-group col-sm-4 pull-right" >
                        <button type="submit" class="btn btn-primary form-control" id="proceed-id">Proceed</button>                   
                </div>
        </form>
        </div>

        <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.dbsToken()" id="dbsToken-id" >Next</button>               
        </div>

        <div class="form-group">
                <button type="submit" class="btn btn-primary" ng-click="ctrl.dbsPay()" id="dbsPay-id" >DBS Payment Test</button>               
        </div>
 
</div>
</div>