<div class="container-fluid bkground">
<div class="col-sm-8 col-lg-3 pull-right">
<div><br></div>

    <form name="registerForm" ng-submit="registerForm.$valid && ctrl.chkcontact()"  novalidate="">
        <div class="alert alert-warning">
<!--             <h4>LOGIN DETAILS</h4>-->

            <h5><strong>You confirm that you are logging in with {{ctrl.regcompanydefault}} and agree with the Usage Terms and Conditions by clicking the Submit button</strong></h5>

        </div>



        <div class="form-group">
                <!-- <label for="mobilen">Contact Number</label> -->
                <input id="mobilen"
                       class="form-control"
                       name="mobilen"
                       type="text"
                       required
                       minlength="8"
                       ng-pattern="/^[0-9+( )-]*$/"
                       ng-model="ctrl.user.mobilen"
                       placeholder='Enter registered contact number'/>
    
                <div class="validation"  data-ng-show="registerForm.mobilen.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.mobilen.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Contact Number is required.
                    </div>
                    <div data-ng-show="registerForm.mobilen.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span>
                        Contact Number must be at least 8 digits long.
                    </div>
                    <div data-ng-show="registerForm.mobilen.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span>
                        Contact Number contains invalid characters.
                    </div>
                </div>
            </div>


        
        <div class="form-group">
  
                <input id="submit" name="submit" type="submit" class="btn btn-primary pull-right"/>
                <br>
        </div>
        <div class="form-group">
        <br>
        </div>


        <div class="alert alert-danger form-group" ng-show="ctrl.chkOK != 200">
            <br>
            <h5>The Number provided has not been registered.</h5>
            <br>
        </div>
</form>
</div> <!-- end of Register-->

</div>
<!--

                <h5>Contact Number</h5>

        <div class="form-group paratext">

                <label for="serviceprovider">Service Provider</label>
                <h5>You are registering with {{ctrl.regcompanydefault}}</h5>
                <input id="serviceprovider" class="form-control" name="serviceprovider" type="text" ng-model="ctrl.regcompanydefault" value="ctrl.regcompanydefault" ng-disabled="ctrl.noedit" required>
                
                <input id="serviceprovider" class="form-control" name="serviceprovider" type="text" ng-model="ctrl.user.serviceprovider" placeholder="Enter Service Provider" required>
               
        </div>


       

<input class="btn btn-primary form-control" ng-click="registerForm.$valid && ctrl.registerApp('large-Modal')" id="proceed-id">Proceed</button>  

-->

