<div class="col-sm-8 col-lg-2"></div>
<div class="col-sm-8 col-lg-8">

        <div ng-app="myApp">
                <div ng-controller="demoController as demo">
                  <h2 class="page-header">Loading data - External array</h2>
                  <div class="bs-callout bs-callout-info">
                    <h4>Overview</h4>
                    <p>Hand <code>NgTableParams</code> a custom <code>getData</code> function that it will call to load data into the table. Typically you will use this option to load server-side data</p>
                  </div>
                  <table ng-table="demo.tableParams" class="table table-bordered table-striped table-condensed">
                    <tr ng-repeat="row in $data track by row.id">
                      <td data-title="'Installation At'" filter="{installationAt: 'text'}" sortable="'installationAt'">{{row.installationAt}}</td>
                      <td data-title="'Admin Email'" filter="{adminEmail: 'text'}" sortable="'adminEmail'">{{row.adminEmail}}</td>
                      <td data-title="'Powered By'" filter="{poweredBy: 'text'}" sortable="'poweredBy'">{{row.poweredBy}}</td>
                      <td data-title="'Powered By Icon'" filter="{poweredByIcon: 'text'}" sortable="'poweredByIcon'">{{row.poweredByIcon}}</td>
                    </tr>
                  </table>
                </div>
              </div>





    <form name="registerationForm">
        <h4>Registration</h4>
        <div class="form-group col-sm-2">
            <label for="regId">Reg ID</label>
            <input id="regId" class="form-control" name="regId" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.regID" value="{{ctrl.pgrrecord.parent.passanger.registration.regID}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="year">Year</label>
            <input id="year" class="form-control" name="year" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.year" value="{{ctrl.pgrrecord.parent.passanger.registration.year}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-4">
            <label for="stuSchool">School</label>
            <input id="stuSchool" class="form-control" name="stuSchool" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.class.school" value="{{ctrl.pgrrecord.parent.passanger.registration.class.school}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="stuClass">Class</label>
            <input id="stuClass" class="form-control" name="stuClass" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.class.class" value="{{ctrl.pgrrecord.parent.passanger.registration.class.class}}"ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="stuSession">Session</label>
            <input id="stuSession" class="form-control" name="stuSession" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.sess" value="{{ctrl.pgrrecord.parent.passanger.registration.sess}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="stuId">Student ID</label>
            <input id="stuId" class="form-control" name="stuId" type="text" ng-model="ctrl.pgrrecord.parent.passanger.pgrID" value="{{ctrl.pgrrecord.parent.passanger.pgrID}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-6">
            <label for="stuName">Student Name</label>
            <input id="stuName" class="form-control" name="stuName" type="text" ng-model="ctrl.pgrrecord.parent.passanger.pgrName" value="{{ctrl.pgrrecord.parent.passanger.pgrName}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="servicetype ">Service Type</label>
            <input id="servicetype" class="form-control" name="servicetype" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.serviceType" value="{{ctrl.pgrrecord.parent.passanger.registration.serviceType}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="payscheme ">Pay Scheme</label>
            <input id="payscheme" class="form-control" name="payscheme" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.payScheme" value="{{ctrl.pgrrecord.parent.passanger.registration.payScheme}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-6">
            <label for="stuPickup">Pick Up Address</label>
            <input id="stuPickup" class="form-control" name="stuPickup" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.pickupAddr" value="{{ctrl.pgrrecord.parent.passanger.registration.pickupAddr}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-6">
            <label for="stuReturn">Return Address</label>
            <input id="stuReturn" class="form-control" name="stuReturn" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.returnAddr" value="{{ctrl.pgrrecord.parent.passanger.registration.returnAddr}}"ng-disabled="ctrl.noedit">
        </div>

        <div class="form-group">
                <label for="serviceprovider">Service Provider</label>
                
                <input id="serviceprovider" class="form-control" name="serviceprovider" type="text" ng-model="ctrl.regcompanydefault" value="ctrl.regcompanydefault" ng-disabled="ctrl.noedit" required>
                
                <!-- <input id="serviceprovider" class="form-control" name="serviceprovider" type="text" ng-model="ctrl.user.serviceprovider" placeholder="Enter Service Provider" required>
               -->
        </div>


        <div class="form-group">
                <label for="mobilen">Contact Number</label>
                <input id="mobilen"
                       class="form-control"
                       name="mobilen"
                       type="text"
                       required
                       minlength="8"
                       ng-pattern="/^[0-9+( )-]*$/"
                       ng-model="ctrl.user.mobilen"
                       value="ctrl.user.mobilen"
                       />
    
                <div class="validation"  data-ng-show="registerForm.mobilen.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.mobilen.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        Contact Number is required.
                    </div>
                    <div data-ng-show="registerForm.mobilen.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span>
                        Contact Number must be at least 8 digits long.
                    </div>
                    <div data-ng-show="registerForm.mobilen.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span>
                        Contact Number contains invalid characters.
                    </div>
                </div>
            </div>


        <div class="form-group">
  
                <input id="submit" name="submit" type="submit" class="btn btn-primary pull-right"/>
        </div>


        <div class="form-group" ng-show="ctrl.pwcheck != 0">
            <h4>Number is NOT correct. Try again</h4>
                
        
        </div>

  
    
    </form>
</div>