<div class="container-fluid bkgrounddark">
<div class="container">

    <div class="col-sm-8 col-lg-4">
        <form name="settingForm" >
            <br>
            <div class="form-group">
                <label for="mobilen">Contact Number</label>

                <input id="mobilen"
                    class="form-control"
                    name="mobilen"
                    type="text"
                    ng-model="ctrl.pgrrecord.contactNo"
                    value="ctrl.pgrrecord.contactNo"
                    ng-disabled="ctrl.noedit"/>

                </div>

            <div class="form-group">
                <label for="displayName">Display Name</label>
                <input id="displayName" class="form-control" name="displayName" type="text" ng-model="ctrl.pgrrecord.parent.parName" value="{{ctrl.pgrrecord.parent.parName}}"  ng-disabled="ctrl.noedit">
            </div>
            <div class="form-group">
                    <label for="payMode">Pay Mode</label>
                    <input id="payMode" class="form-control" name="payMode" type="text" ng-disabled="ctrl.noedit">
                </div>
            <div class="form-group">
                <label for="appLock">App Lock Password</label>
                <input id="appLock" class="form-control" name="appLock" type="text" ng-model="ctrl.user.pw" value="ctrl.user.pw" ng-disabled="ctrl.noedit">
            </div>
            <!-- <div class="form-group">
                <button type="submit" class="btn btn-primary form-control" id="update-id">Update</button>                   
            </div>  -->
    
        </form>
    </div>
</div>
</div>
<!--


   <div class="form-group">
        <label for="mobileno">Registered Number  >> {{ctrl.user.mobileno}}</label>
        <input id="mobileno"
                class="form-control"
                name="contactNumber"
                type="text"
                required
                minlength="8"
                ng-pattern="/^[0-9+( )-]*$/"
                ng-model="ctrl.user.mobileno"/>

    </div>

<div class="form-group">
            <label for="contactNumber">Registered Number</label>
            <input id="contactNumber"
                    class="form-control"
                    name="contactNumber"
                    type="text"
                    required
                    minlength="8"
                    ng-pattern="/^[0-9+( )-]*$/"
                    ng-model="ctrl.user.contactNumber"/>

            <div class="validation"  data-ng-show="registrationForm.contactNumber.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.contactNumber.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number is required.
                </div>
                <div data-ng-show="registrationForm.contactNumber.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number must be at least 8 digits long.
                </div>
                <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number contains invalid characters.
                </div>
            </div>
        </div>

-->