<div class="container-fluid bkground">
<br>
    <div class="col-sm-8 col-lg-3 pull-right">
    <form name="loginForm" >
            
        <div class="form-group" >
            <input id="password" class="form-control" name="password" type="text"  ng-model="ctrl.user.pw" placeholder="Enter App Lock Password">
        </div>

      <!--   <div class="form-group">
            <button type="submit" class="btn btn-primary form-control" ng-click="ctrl.checkApppw()" id="proceed-id">Proceed</button>                   
        </div> -->

        <div class="form-group">
            <input id="submit" name="submit" type="submit" class="btn btn-primary pull-right" ng-click="ctrl.checkApppw()">
        </div>
    </form>
        <br>
        <br>
        <div class="alert alert-danger form-group" ng-show="ctrl.pwcheck != 0">
            <h5>Password incorrect. Try again</h5>
             <h5><label>App Lock Password:</label>  {{ctrl.user.pw}} - {{ctrl.appLockpw}}</h5>
        </div>
   
    </div> 
    
</div>
</div>




