<nav class="navbar navbar-inverse navboxstd">
        <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#Navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                    </button>
            <a class="navbar-brand pull-left" style="margin-top: -88px" href="#"><img src="/image/android-icon-144x144.png"></a>
            </div>

            <div class="collapse navbar-collapse" style="padding-left: 150px" id="Navbar">
                    <h4>
                        <a class="navitemstd" ui-sref="payform" ui-sref-active="active">Payform  </a>
                        <a class="navitemstd" ui-sref="add" ui-sref-active="active">AddProfile  </a>
                        <a class="navitemstd" ui-sref="Notify" ui-sref-active="active">Notification  </a>

                        <a class="navitemstd" ui-sref="registration" ui-sref-active="active">Registration  </a>
                        <a class="navitemstd" ui-sref="registrationadd" ui-sref-active="active">AddRegistration  </a>
                        <a class="navitemstd" ui-sref="registrationedit" ui-sref-active="active">EditRegistration  </a>
                    </h4>
            </div>                

     </div>
    
