<nav class="navbar navbar-default navboxstd">
        <div class="collapse navbar-collapse"></div>

            <div class="nav navbar-nav col-sm-8 col-lg-6" >
                                   
                <h4>
                    <a class="navitemstd" ui-sref="register" ui-sref-active="active">Register  </a>
                </h4>


            </div>
        </div>
</div>
</nav>